# Miscellany files
include LICENSE
include README.rst
include tox.ini
include requirements.txt

# Template
recursive-include {{cookiecutter.repo_name}} *
recursive-exclude {{cookiecutter.repo_name}} *.pyc
recursive-exclude {{cookiecutter.repo_name}} *.pyo

# Documentation
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build