# Installation and deployment
setuptools==59.6.0
twine==3.7.1
bernardomg.tox-test-command==1.2.0

# Cookiecutter
cookiecutter==1.7.2

# Documentation
Sphinx==4.3.2
sphinx-docs-theme==1.0.7
Pygments==2.10.0
