# Auto detect text files and perform LF normalization
* text=auto

# Known text files
*.xml text
*.yml text
*.md text
*.sh text
*.css text
*.txt text

# Known source files
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Known binary files
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary